.wrapper {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #f0f0f0;
}

.header {
  display: flex;
  max-width: 1400px;
  height: 80px;
  flex-shrink: 0;
}

.logo {
  width: 100px;
  margin-top: 27px;
  margin-left: 100px;
  flex-shrink: 0;
}

/* メディアクエリという */
@media screen and (max-width: 1400px) {
  .logo {
    margin-left: 16px; /* 画面幅が1400px以下の場合の値 */
  }
}

#nav {
  margin-top: 31px;
  margin-left: 60px;
}
/* nav, li： だと、navとliで2重に設定される*/
#nav ul li {
  height: 21px;
  margin-right: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  color: var(--000000-black, #000);
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

#box {
  position: absolute;         /* 縦スクロールに対応 */
  width: 200px;
  height: 80px;
  background-color: #000;
  /* margin: 0 0 0 0;        */
  right: 0;
  top: 0;
  display: flex;        /* 要素内のコンテンツを中央揃えするためにflexレイアウトを使用 */
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center;     /* 垂直方向の中央揃え */
}
#box p {
  width: 72px;
  height: 18px;
  flex-shrink: 0;
  color: var(--ffffff-white, #FFF);
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: white;
}

.NEWS {
  width: 940px;
  height: 234px;
  flex-shrink: 0;
  margin-top: 120px;
  margin-left: 200px;
}

#section-title h2{
  color: var(--000000-black, #000);
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: 36px; /* 100% */
  letter-spacing: 10.8px;
  margin-bottom: 10px;
}

#text {
  color: var(--000000-black, #000);
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

#section-title hr {
  width: 40px;
  height: 0px;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: var(--000000-black, #000);
  margin-top: 36px;
}

.news-item {
  width: 254px;
  height: 61px;
  flex-shrink: 0;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 100px; /* 本当か？ */
}

.news-item .frame {
  width: 50px;
  height: 20px;
  background-color: #000;
  margin-left: 10px;
  color: var(--ffffff-white, #FFF);
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 166.667% */
  display: flex; /* 子要素を水平方向に並べる */
  justify-content: center; /* 水平方向に中央揃え */
  align-items: center; /* 垂直方向に中央揃え */
}

.news-item #text p {
  margin-top: 16px;
}

.content {
  display: flex; 
}

.frame2 hr{
  width: 0px;
  height: 81px;
  flex-shrink: 0;
  margin-top: 50px;
  margin-right: 20px;
}
