.wrapper {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #f0f0f0;
}

.header {
  display: flex;
  max-width: 1400px;
  height: 80px;
  flex-shrink: 0;
}

.logo {
  width: 100px;
  display: flex;
  margin-left: 100px;
  /* 上下中央揃え */
  align-items: center;
  flex-shrink: 0;
}

/* メディアクエリという */
@media screen and (max-width: 1400px) {
  .logo {
    margin-left: 16px; /* 画面幅が1400px以下の場合の値 */
  }
}

#nav {
  display: flex;
  align-items: center;
  margin-left: 60px;
}
/* nav, li： だと、navとliで2重に設定される*/
#nav ul li {
  height: 21px;
  margin-right: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  color: var(--000000-black, #000);
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

#box {
  position: absolute;         /* 縦スクロールに対応 */
  width: 200px;
  height: 80px;
  background-color: #000;
  /* margin: 0 0 0 0;        */
  right: 0;
  top: 0;
  display: flex;        /* 要素内のコンテンツを中央揃えするためにflexレイアウトを使用 */
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center;     /* 垂直方向の中央揃え */
}
#box p {
  width: 72px;
  height: 18px;
  flex-shrink: 0;
  color: var(--ffffff-white, #FFF);
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: white;
}

.maskgroup {
  /* 元画像のサイズ指定 */
  width: 100%;
  height: 730px;

  /* （背景画像の場合） 元画像の指定 */
  background-image: url(./img/mainvisual.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  /* マスク画像の指定 */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

  /* マスクした範囲外の画像を非表示にする */
  overflow: hidden;
}

#news, #business, #company {
  width: 1000px;
  height: 234px;
  flex-shrink: 0;
  margin-top: 120px;
  margin-left: max(16px, calc((100vw - 1000px) / 2));
  margin-bottom: 120px;
}

.section-title h2{
  color: var(--000000-black, #000);
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: 36px; /* 100% */
  letter-spacing: 10.8px;
  margin-bottom: 10px;
}

.text {
  color: var(--000000-black, #000);
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.section-title .text {
  line-height: 14px;
  margin-bottom: 36px;
}

.news-item {
  width: 33%;
  height: 61px;
  flex-shrink: 0;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* margin-right: 100px; 本当か？ */
}

.news-item .frame {
  width: 50px;
  height: 20px;
  background-color: #000;
  margin-left: 10px;
  color: var(--ffffff-white, #FFF);
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 166.667% */
  display: flex; /* 子要素を水平方向に並べる */
  justify-content: center; /* 水平方向に中央揃え */
  align-items: center; /* 垂直方向に中央揃え */
}
.news-item .text {
  line-height: 14px;
}
.news-item .text p {
  margin-top: 16px;
}

.content {
  display: flex; 
}

#ni1 {
  padding-right: 79px;
}
#ni2 {
  padding-left: 20px;
  padding-right: 59px;
}
#ni3 {
  padding-left: 20px;
}

.frame2 hr{
  width: 0px;
  height: 81px;
  flex-shrink: 0;
  margin-top: 50px;
  border: 0.5px solid;
}

#about {
  /* height: 1160px; */
  display: flex;
  align-items: start;
  margin-bottom: 120px;
}

#about .maskgroup {
  /* 元画像のサイズ指定 */
  width: 55vw;
  max-width: 770px;
  height: 400px;

  /* （背景画像の場合） 元画像の指定 */
  background-image: url(./img/about.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  /* マスク画像の指定 */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

  /* マスクした範囲外の画像を非表示にする */
  overflow: hidden;

  /* 余白 */
  margin-bottom: 120px;
}
#about .section-title {
  margin-top: 180px;
  margin-left: 5%;
}
#about #t2 {
  margin-top: 50px;
  margin-bottom: 0;
  line-height: 220%;
}

#business {
  height: auto;
}
#business ul {
  width: 1000px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
  gap: 50px 64px;
}
#business li {
  list-style: none;
}
#business img {
  width: 386px;
  height: 232px;
  flex-shrink: 0;
}
#business .business-item {
  height: 269px; /* img要素と同じ高さに設定 */
}
.business-item:nth-child(1) {
  margin-top: 100px; /* 下げたい高さを指定 */
}
.business-item:nth-child(4) {
  margin-top: -100px; /* 下げたい高さを指定 */
}
#business .business-item .text {
  display: flex;
  font-weight: 600;
  margin-bottom: 10px;
  align-items: center;
  column-gap: 10px;
}

#company {
  height: auto;
  margin-left: max(0px, calc((100vw - 1000px) / 2));
}
#company .frame3 {
  /* min関数は%は効かない */
  width: min(567px, 55vw);
  height: 616px;
  background-color: #FFF;
  padding: 100px 62px 100px min(82px, 8vw);
}
#company table {
  margin-top: 50px;
  /* border-spacing: 10px; */
}
td {
  text-align: left;
  vertical-align: top;
  padding-bottom: 10px;
}
td:first-child {
  width: 85px;
}
td:last-child {
  width: 300px;
}
td li {
  list-style: none;
  padding-bottom: 10px;
}