.wrapper {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #f0f0f0;
}
.header {
  position: relative;
  display: flex;
  width: 100%;
  height: 80px;
}
.logo {
  width: 100px;
  display: flex;
  /* 上下中央揃え */
  align-items: center;
  flex-shrink: 0;
}
#nav {
  display: flex;
  align-items: center;
}
#nav ul {
  display: flex;
}
/* nav, li： だと、navとliで2重に設定される*/
#nav ul li{
  margin-right: 30px;
  justify-content: center;
  align-items: center;
  color: #000;
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 21px;
  list-style: none;
}
#nav ul li:last-child {
  margin-right: 0px;
}
#nav a {
  color: #000;
  text-decoration: none;
}
.inner-header {
  width: calc(100vw - 232px);
  max-width: 1032px;
  display: flex;
  margin: 0 max(calc((100vw - 1232px) / 2), 0px);
  box-sizing: border-box;
  gap: 0px 60px;
  padding: 0px 16px;
}
#contact-btn {
  position: absolute;         /* 縦スクロールに対応 */
  width: 200px;
  height: 80px;
  background-color: #000;
  right: 0;
  top: 0;
  display: flex;        /* 要素内のコンテンツを中央揃えするためにflexレイアウトを使用 */
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center;     /* 垂直方向の中央揃え */
}
#contact-btn p {
  width: 72px;
  height: 18px;
  flex-shrink: 0;
  color: #FFF;
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: white;
}

.maskgroup {
  /* 元画像のサイズ指定 */
  width: 100%;
  height: 730px;

  /* （背景画像の場合） 元画像の指定 */
  background-image: url(./img/mainvisual.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  /* マスク画像の指定 */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

  /* マスクした範囲外の画像を非表示にする */
  overflow: hidden;
}

#news, #business, #company {
  max-width: 1000px;
  height: 234px;
  flex-shrink: 0;
  margin: 120px max(16px, calc((100vw - 1000px) / 2));
}

.section-title h2{
  color: #000;
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: 36px; /* 100% */
  letter-spacing: 10.8px;
  margin-bottom: 10px;
}

.text {
  color: var(--000000-black, #000);
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.section-title .text {
  line-height: 14px;
  margin-bottom: 36px;
}

.news-item {
  width: 100%;
  height: 61px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.news-item:not(:last-child) {
  padding-right: 20px;
}
.news-item:not(:first-child) {
  padding-left: 20px;
}
.news-item .frame {
  width: 50px;
  height: 20px;
  background-color: #000;
  margin-left: 10px;
  color: var(--ffffff-white, #FFF);
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 166.667% */
  display: flex; /* 子要素を水平方向に並べる */
  justify-content: center; /* 水平方向に中央揃え */
  align-items: center; /* 垂直方向に中央揃え */
}
.news-item .text {
  line-height: 14px;
}
.news-item .text p {
  margin-top: 16px;
}

.content {
  display: flex; 
  margin-top: 50px;
  align-items: center;
}

.frame2 hr{
  width: 0px;
  height: 81px;
  flex-shrink: 0;
  border: 0.5px solid;
}

#about {
  display: flex;
  align-items: start;
  margin-bottom: 120px;
}

#about .maskgroup, #company .maskgroup {
  /* 元画像のサイズ指定 */
  width: 70vw;
  max-width: 770px;
  height: 400px;

  /* （背景画像の場合） 元画像の指定 */
  background-image: url(./img/about.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  /* マスク画像の指定 */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

  /* マスクした範囲外の画像を非表示にする */
  overflow: hidden;

  /* 余白 */
  margin-bottom: 118px;
}
#about .section-group {
  width: 45%;
  margin: 180px 5vw 0 5vw;
}
#about .content .text {
  margin-bottom: 0;
  line-height: 220%;
}

#business {
  height: auto;
}
#business ul {
  width: 1000px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
  gap: 50px 64px;
}
#business li {
  list-style: none;
}
#business img {
  width: 368px;
  height: 232px;
  flex-shrink: 0;
}
#business .business-item {
  height: 269px; /* img要素と同じ高さに設定 */
}
.business-item:nth-child(1) {
  margin-top: 100px; /* 下げたい高さを指定 */
}
.business-item:nth-child(4) {
  margin-top: -100px; /* 下げたい高さを指定 */
}
#business .business-item .text {
  display: flex;
  font-weight: 600;
  margin-bottom: 10px;
  align-items: center;
  column-gap: 10px;
}

#company {
  position: relative;
  max-width: 1032px;
  height: 630px;
  display: flex;
  align-items: center;
  margin: 120px max(0px, calc((100vw - 1032px) / 2));
}
#company .text-box {
  position: absolute;
  height: 616px;
  /* min関数は%は効かない */
  width: min(567px, 55vw);
  background-color: #FFF;
  padding: 100px 82px 100px min(62px, 8vw);
  z-index: 1;
}
#company table {
  margin-top: 50px;
}
td {
  text-align: left;
  vertical-align: top;
  padding-bottom: 10px;
}
td:first-child {
  width: 85px;
}
td:last-child {
  width: 300px;
}
td li {
  list-style: none;
  padding-bottom: 10px;
}
#company .maskgroup {
  position: absolute;
  width: min(547px, 53vw);
  height: 400px;
  background-image: url(./img/company.jpg);
  background-position: center center;
  z-index: 10;
  margin-bottom: 0;
  right: 0;
}

#footer {
  width: 100%;
  height: 220px;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  background-color: #FFF;
}
.inner-footer {
  width: 1032px;
  padding: 0px 16px;
  margin: 0px auto;
}
#footer .content {
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0px;
  gap: 30px min(665.4px, 59vw);
  margin-top: 0;
}
#copyright {
  display: flex;
  font-size: 10px;
  margin-right: auto;
}